accelerate==1.10.1
gradio==5.46.0
huggingface-hub==0.35.0
numpy==2.3.3
omegaconf==2.3.0
safetensors==0.6.2
torch==2.8.0
torchvision==0.23.0
transformers==4.56.1
easydict==1.13
ftfy==6.2.0
pillow
pydash==8.0.5
